.index {
    color: #000;
    background: url(test.jpg);
}


.index {
    color: #000;
    background: url(test1.jpg);
}


.index {
    color: #000;
    background: url(test2.jpg);
}

.index {
    color: #000;
    background: url(test3.jpg);
}